.Hud {
  position: absolute;
  left:2px;
  top:10px;
}

.Hud .Combatant {
  position: relative;
  margin-bottom: 10px;
}
.Hud .Combatant_character{
  display: none;
}
.Hud .Combatant_type {
  display:block;
  transform: scale(1.5);
  top: -1px;
}