.Team {
    display: flex;
    position: absolute;
    top: 4px;
  }
  
  .Team[data-team="player"] {
    left: 2px;
  }
  
  .Team[data-team="enemy"] {
    right: 2px;
  }
  
  .pokeball-icon {
    width: 20px; 
    height: 20px; 
  }
  
  .dead-pokeball {
    display: none;
  }
  
  .Team [data-dead="true"] .dead-pokeball {
    display: block;
  }
  
  .Team [data-dead="true"] .pokeball-icon:not(.dead-pokeball) {
    display: none;
  }
  